<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./contact.css">
</head>
<body>
    
    <div class="footer-list">

        <p class="footer-list-title">Contact Us</p>
      
        <p class="footer-list-text">
          Enter your email address to register to our newsletter subscription or send us a message.
        </p>
      
        <form action="#" class="newsletter-form">
          <input type="email" name="email_address" placeholder="Your email" required class="input-field">
          <textarea name="message" placeholder="Your Message" class="message-field"></textarea>  <button type="submit" class="btn has-before">
            <span class="span">Subscribe & Contact</span>  <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
          </button>
        </form>
      
        <ul class="social-list">
      
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>
      
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>
      
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>
      
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>
      
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>
      
        </ul>
      
      </div>
      

    <script src="../../assets/js/script.js" defer></script>

<!-- 
  - ionicon link
-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>